<div>{{this.numberOfBreakdowns}}</div>
<div>{{this.availibleHoursInMonths}}</div>
<div>{{this.mtbf}}</div>

<div class='container'>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::MainKpiChart @tableOfMonths={{this.tableOfMonths}} />
  </div>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::RequestsTypeChart
      @tableOfMonths={{this.tableOfMonths}}
      @tableOfMonthsWithRequestsTpm={{this.tableOfMonthsWithRequestsTpm}}
      @tableOfMonthsWithRequestsFault={{this.tableOfMonthsWithRequestsFault}}
      @tableOfMonthsWithRequestsBreakdown={{this.tableOfMonthsWithRequestsBreakdown}}
    />
  </div>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::RequestTypeMachineChart
      @machinesName={{this.machinesName}}
      @numberOfRequestByTypeTPM={{this.numberOfRequestByTypeTPM}}
      @numberOfRequestByTypeFault={{this.numberOfRequestByTypeFault}}
      @numberOfRequestByTypeBreakdown={{this.numberOfRequestByTypeBreakdown}}
    />
  </div>
</div>