<tr data-test-tr={{@index}} class={{class-user-table @user.userType}}>
  <td data-test-td-username>{{@user.username}}</td>
  <td data-test-td-user-email>{{@user.email}}</td>
  <td data-test-td--password>{{@user.password}}</td>
  <td data-test-td-usertype>{{@user.userType}}</td>
  <td align='center' data-test-td-button>
    <Shared::Button
      class='btn'
      @variant='success'
      @faIcon='user-pen'
      @onClick={{this.onShowUserModal}}
    />
  </td>
</tr>

{{#if this.isShowUserModal}}
  <Modal::EditUser @user={{@user}} @onClose={{this.onHideUserModal}} />
{{/if}}