<tr class={{class-user-table @user.userType}}>
  <td>{{@user.username}}</td>
  <td>{{@user.email}}</td>
  <td>{{@user.password}}</td>
  <td>{{@user.userType}}</td>
  <td align='center'><button
      type='button'
      class='btn btn-success'
      {{on 'click' this.onShowUserModal}}
    >
      <FaIcon @icon='user-pen' />
    </button></td>
</tr>

{{#if this.isShowUserModal}}
  <Modal::EditUser @onClose={{this.onHideUserModal}} @user={{@user}} />
{{/if}}