<tr class={{class-user-table @user.userType}}>
  <td>{{@user.username}}</td>
  <td>{{@user.email}}</td>
  <td>{{@user.password}}</td>
  <td>{{@user.userType}}</td>
  <td align='center'>
    <Shared::Button
      class='btn'
      @variant='success'
      @faIcon='user-pen'
      @onClick={{this.onShowUserModal}}
    />
  </td>
</tr>

{{#if this.isShowUserModal}}
  <Modal::EditUser @user={{@user}} @onClose={{this.onHideUserModal}} />
{{/if}}