<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Type</th>
      <th scope='col'>Requestor</th>
      <th scope='col'>Machine</th>
      <th scope='col'>Title</th>
      <th scope='col'>Created date</th>

    </tr>
  </thead>
  <tbody>
    {{#each @model as |request|}}
      <tr>
        <td>{{request.id}}</td>
        <td>{{request.type}}</td>
        <td>{{request.user.username}}</td>
        <td>{{request.machine}}</td>
        <td>{{request.title}}</td>
        <td>{{request.createdDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>