<Header>Open new request</Header>
<div class='container'>
  <div class='row'>
    <div class='col mb-5'>
      <Shared::PowerSelect
        @selected={{this.record.type}}
        @options={{this.requestTypes}}
        @onChange={{fn this.onTypeSelectionChange 'type'}}
        @placeholder={{'Select request type'}}
      />
    </div>
    <div class='col mb-5'>
      <Shared::PowerSelect
        @selected={{this.record.machine}}
        @options={{this.machines}}
        @onChange={{fn this.onSelectionChange 'machine'}}
        @placeholder={{'Select machine'}}
      />
    </div>
  </div>
  <div class='form-floating'>
    <Shared::Input
      @type='text'
      @id='inputTitleRequest'
      @placeholder='Explain problem'
      @onChange={{fn this.onPropertyChange 'title'}}
    />
    <label for='floatingPassword'>Explain problem</label>
  </div>
  <div class='d-grid gap-2'>
    <Shared::Button
      class='mt-5'
      disabled={{this.hasEmptyField}}
      @variant='success'
      @label='Create request'
      @size='lg'
      @onClick={{this.onCreatNewRequest}}
    />
  </div>
</div>