<table class='table table-striped'>
  <thead class='table-active'>
    <tr>
      <th scope='col' data-test-table-status>Status</th>
      <th scope='col' data-test-table-type>Type</th>
      <th scope='col' data-test-table-requestor>Requestor</th>
      <th scope='col' data-test-table-machine>Machine</th>
      <th scope='col' data-test-table-title>Title</th>
      <th scope='col' data-test-table-create-date>Created date</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.filteredRequests as |request index|}}
      <tr data-test-tr={{index}} class={{class-table request.type}}>
        <td data-test-td-status>{{request.status}}</td>
        <td data-test-td-type>{{request.type}}</td>
        <td data-test-td-username>{{request.owner.username}}</td>
        <td data-test-td-machine>{{request.machine}}</td>
        <td data-test-td-title>{{request.title}}</td>
        <td data-test-td-createdAt>{{format-date
            request.createdAt
            'dd-MM-yyyy HH:mm'
          }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>