<section class='vh-100'>
  <div class='container-fluid h-custom'>
    <div class='row d-flex justify-content-center align-items-center h-100'>
      <h1 class='row d-flex justify-content-center' data-test-title>Computerised
        Maintenance Management System</h1>
      <div class='col-md-9 col-lg-6 col-xl-5'>
        <img
          src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp'
          class='img-fluid'
          data-test-photo
          alt='login with monitor and pen'
        />
      </div>
      <div class='col-md-8 col-lg-6 col-xl-4 offset-xl-1'>
        <form {{on 'submit' this.onSubmit}}>
          <div class='form-outline mb-4'>
            <Shared::Input
              data-test-input-login
              @placeholder='Enter your login'
              @id='login-input'
              @size='lg'
              @value={{this.value}}
              @onChange={{this.onLoginChange}}
            />
            <label
              class='form-label'
              data-test-label-login
              for='login'
            >Login</label>
          </div>
          <div class='form-outline mb-3'>
            <Shared::Input
              data-test-input-password
              @placeholder='Enter password'
              @type='password'
              @id='password-input'
              @size='lg'
              @value={{this.value}}
              @onChange={{this.this.onPasswordChange}}
            />
            <label
              class='form-label'
              data-test-label-password
              for='password'
            >Password</label>
          </div>
          <div class='text-center text-lg-start mt-4 pt-2'>
            <Shared::Button
              data-test-button-login
              class='button-login'
              @variant='primary'
              @label='Login'
              @size='md'
              @type='submit'
            />
            <Shared::Button
              data-test-button-google
              @type='submit'
              @src='/assets/images/btn_google_signin_light_focus_web.png'
              @alt='login with google'
              @onClick={{this.on0AuthLoginOrRegister}}
            />
            <p class='small fw-bold mt-2 pt-1 mb-0' data-test-p-register>Don't
              have an account?
              <LinkTo @route='register' data-test-linkto-register>Register new
                user</LinkTo>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>